html {
  background-color: #eed3ba;
  font-family: "Poppins", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page-title {
  text-align: center;
  color: green;
}

.p-Table {
  display: grid;
  grid-template-columns: repeat(18, [group] minmax(5em, 1fr));
  grid-template-rows:
    repeat(7, [period] 1fr)
    [row6x] 1fr [row7x] 1fr;
  grid-gap: 0.5em;
  counter-reset: atomic-number;
}

.p-Table::before {
  content: "";
  grid-row: row6x / span 2;
  grid-column: 1 / 3;
}

.ele {
  border: thin solid black;
  text-align: center;
  opacity: 0.85;
}

.ele:hover,
.ele:focus {
  opacity: 1;
  font-weight: bold;
}

.ele-name {
  border-bottom: none !important;
  text-decoration: none !important;
  word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 1.5em;
  counter-increment: atomic-number;
}

.ele-name::before {
  font-size: 0.8rem;
  display: block;
  content: counter(atomic-number);
  color: black;
}

.ele-name::after {
  font-size: 0.85rem;
  display: block;
  content: attr(title);
}

.ele-57,
.ele-89 {
  position: relative;
}

.ele-57::before,
.ele-89::before,
.ele-57::after,
.ele-89::after {
  display: block;
  position: absolute;
  width: 100%;
  font-size: 1em;
  top: 25%;
  font-weight: normal !important;
}

.ele-57::before,
.ele-89::before {
  top: calc(-200% - 1rem);
}

.ele-57::before,
.ele-57::after {
  content: "*";
}

.ele-89::before,
.ele-89::after {
  content: "**";
}

.ele-57::after,
.ele-89::after {
  left: calc(-50% - 1rem);
}

.ele-5,
.ele-13 {
  grid-column: 13;
}

.ele-72,
.ele-104 {
  grid-column: 4;
}

.lan-group {
  grid-row: row6x;
  position: relative;
  top: 1em;
}

.a-grp {
  grid-row: row7x;
  position: relative;
  top: 1em;
}

.n-gas {
  grid-column: 18;
}

.legend {
  grid-row: 1 / 3;
  grid-column: 5 / span 6;
  border: medium ridge black;
  padding: 0.5em;
}

.legend h2 {
  margin: 0;
}

.legend ul {
  padding-left: 0;
  list-style: none;
}

.legend li {
  display: inline-block;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.lan {
  background-color: pink;
}

.actinide {
  background-color: hotpink;
}

.al-metal {
  background-color: #f66;
}

.alearth-metal {
  background-color: #ffdead;
}

.d-nonmetal {
  background-color: #e7ff8f;
}

.patomic-nonmetal {
  background-color: #a1ffc3;
}

.pTransition-metal {
  background-color: lightgray;
}

.metalloid {
  background-color: #cc9;
}

.n-gas {
  background-color: #c0ffff;
}

.trans {
  background-color: #8486f8;
}

.liquid {
  color: darkgreen;
}

.gas {
  color: #c00;
}

.div-clear-both {
  clear: both;
}
